body {
  width: 80%;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

section {
  border: 1px lightgray solid;
  margin-bottom: 20px;
  padding: 20px;
}

#types-vanilla {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}
#types-vanilla > div {
  border: 2px red solid;
  padding: 30px;
  background-color: lightgray;
  border-radius: 5px;
  flex-grow: 1;
}

img {
  border: 2px black solid;
  width: 100px;
}

#descriptors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px 10px;
}

.card {
  border: 2px blue solid;
  flex-grow: 1;
  padding: 10px;
  background-color: lightgray;
  border-radius: 40px;
}

#vanilla-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px 10px;
  text-align: center;
}

#vanilla-products > div {
  border: 2px black solid;
  padding: 20px 60px;
  flex-grow: 1;
  background-color: lightblue;
  border-radius: 15px;
}
