body {
  width: 80%;
  background-color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

#types-vanilla {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

#types-vanilla > div {
  border: 1px black solid;
  padding: 40px;
}

img {
  border: 2px black solid;
  width: 100px;
}

#vanilla-products {
  display: flex;
}

#vanilla-products > div {
  border: 1px black solid;
}
